button {
    outline: none;
}

.zmeeting-con {
    margin-top: 13%;
    margin-left: 20%;
    width: 400px;
    display: inline-block;
}

.zwebinar-con {
    margin-top: 13%;
    width: 400px;
    display: inline-block;
    position: absolute;
    margin-left: 10%;
}

.zmeeting-heading {
    margin: 0 0 15px;
    text-align: center;
}

.meeting-home-desc {
    width: 100%;
    font-size: 15px;
    text-align: center;
    padding: 15px 0;
    margin: 0;
}

.meeting-home-primary-btn {
    width: 200px;
    padding: 13px 0;
    font-size: 16px;
    margin: 10px 100px;
    background-color: #0352cc !important;
    color: #ffffff !important;
    border: solid 1px #0352cc !important;
    border-radius: 3px;
    cursor: pointer;
}

.meeting-home-primary-btn:hover {
    background-color: #0a46a4 !important;
    border-color: #0a46a4 !important;
}

.meeting-home-secondary-btn {
    width: 200px;
    padding: 13px 0;
    font-size: 16px;
    margin: 10px 100px;
    background-color: transparent !important;
    color: #0352cc !important;
    border: 1px solid #0352cc !important;
    border-radius: 3px;
    cursor: pointer;
}

.meeting-home-secondary-btn:hover {
    background-color: #0a46a4 !important;
    border-color: #0a46a4 !important;
    color: #ffffff !important;
}

.home-popup {
    box-shadow: 0 2px 11px 2px rgba(0, 199, 255, 0.96);
    border: 1px solid #1fafff;
    background-color: #ffffff;
    display: inline-block;
    position: relative;
    z-index: 1090;
    padding: 0 20px;
}

.popup-heading-margin {
    margin: 15px 0;
}

.home-popup-modal {
    position: absolute;
    background-color: #ffffff;
    width: 535px;
    padding: 25px 40px 35px 40px;
    font-size: 18px;
    text-align: left;
    border-radius: 5px;
}

.home-meeting-popup {
    top: 0;
    left: 100%;
    margin-left: 20px;
}

.home-meeting-popup::before {
    top: 5%;
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #f7f7f7;
    border-width: 16px;
}

.home-meeting-popup::after {
    top: 5%;
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #fff;
    border-width: 14px;
}

.modal-con-header {
    position: relative;
    margin: 10px 0;
}

.headingText {
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 16px;
    display: inline-block;
}

.home-popup-step {
    margin-top: 10px;
    color: gray;
    font-size: 12px;
    float: right;
}

.home-popup-body {
    margin-left: 16px;
    font-size: 15px;
    padding: 0px 0px 18px 0;
}

.modal-con-footer {
    text-align: right;
}

.home-popup-footer > .home-popup-btn {
    width: 144px;
    padding: 10px 30px;
}

.home-popup-btn {
    float: right;
    font-size: 14px;
}

.modal-layout {
    position: fixed;
    z-index: 1080;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.meeting-ad-popup {
    margin-top: -18%;
    margin-left: 29%;
}

.webinar-ad-popup {
    margin-left: 63%;
    margin-top: -18%;
}

.home-webinar-popup {
    top: 0;
    right: 100%;
    margin-right: 20px;
}
.home-webinar-popup::before {
    top: 18px;
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: #f7f7f7;
    border-width: 16px;
}
.home-webinar-popup::after {
    top: 20px;
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: #fff;
    border-width: 14px;
}
